
.sp10 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 10px;
  line-height: 160%;
}

.sp12 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 12px;
  line-height: 160%;
}

.sp13 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 13px;
  line-height: 160%;
}

.sp14 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
}

.sp15 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 15px;
  line-height: 160%;
}

.sp16 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}

.sp18 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
}

.sp20 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 20px;
  line-height: 160%;
}

.sp22 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 22px;
  line-height: 160%;
}

.sp24 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 24px;
  line-height: 160%;
}

.sp26 {
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 26px;
  line-height: 160%;
}

.sp30{
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 30px;
  line-height: 160%;
}

.sp32{
  font-family: SpoqaHanSans;
  font-style: normal;
  font-size: 32px;
  line-height: 160%;
}

.el12 {
  font-family: EliceDigitalBaeum;
  font-style: normal;
  font-size: 12px;
  line-height: 160%;
}

.el18 {
  font-family: EliceDigitalBaeum;
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
}


.fw300 {  
  font-weight: 300;
}

.fw400 {  
  font-weight: 400;
}

.fw500 {  
  font-weight: 500;
}

.fw700 {  
  font-weight: 700;
}

.black { color: var(--black); }


.skblue50 { color: var(--skblue50); }
.skblue100 { color: var(--skblue100); }
.skblue400 { color: var(--skblue400); }
.skblue600 { color: var(--skblue600); }

.clblue400 { color: var(--clblue400); }

.blue100 { color: var(--blue100); }
.blue500 { color: var(--blue500); }
.blue400 { color: var(--blue400); }

.gray100 { color: var(--gray100); }
.gray150 { color: var(--gray150); }
.gray200 { color: var(--gray200); }
.gray300 { color: var(--gray300); }
.gray400 { color: var(--gray400); }
.gray500 { color: var(--gray500); }
.gray600 { color: var(--gray600); }
.gray700 { color: var(--gray700); }
.gray800 { color: var(--gray800); }
.gray900 { color: var(--gray900); }

.red50 { color: var(--red50); }
.red100 { color: var(--red100); }
.red400 { color: var(--red400); }
.red600 { color: var(--red600); }

.white { color: var(--white); }

.sub100 { color: var(--sub100); }

.teal200 { color: var(--teal200); }
.teal300 { color: var(--teal300); }
.teal500 { color: var(--teal500); }

.plus100 { color: var(--plus100); }
.purple100 { color: var(--purple100); }
.silver { color: var(--silver); }
.gold { color: var(--gold); }
.blue300 { color: var(--blue300); }

.bg200 { color: var(--bg200); }
.bg400 { color: var(--bg400); }
.bg600 { color: var(--bg600); }

.navy200 {color: var(--navy200);}
.navy400 {color: var(--navy400);}
.navy600 {color: var(--navy600);}
.navy800 {color: var(--navy800);}
.navy900 {color: var(--navy900);}
